nav {
    transition: 0.2s;
    z-index: 100;
}

nav a:hover {
    color: #000 !important;
}

.navbar-brand {
    color: #2e4e78 !important;
}

.white-anchor {
    color: #fff !important;
}

.white-anchor:hover {
    color: #6f90b6 !important;
}

.white-btn {
    border: 1px solid #fff !important;
    color: #fff !important;
}

.Search {
    border: 1px solid rgb(212, 212, 212);
    height: 40px;
    border-radius: 60px;
    padding-left: 30px;
    box-shadow: 1px 1px 10px rgb(212, 212, 212);
}
.Search:focus-visible {
    outline: none;
    border: 1px solid #6f90b6;
    box-shadow: 1px 1px 10px #2e4e78;
}
